<div class="row mb-2">
  <div class="col-9">
    <h1 class="display-6 mb-2"><%= @place.name %></h1>
  </div>
</div>

<div class="row mb-2">
  <% if @current_user %>
      <p>
        <a class="btn btn-success" href="/posts/new?place_id=<%= @place.id %>">New Post</a>
      </p>
  <% end %>
</div>

<div class="row mb-4">
    <% for post in @place.posts.where({user_id: @current_user.id}) %>
      <div class="col-md-3 col-sm-6">
        <h4>
          <%= post.title %>
        </h4>
        <p>
          <%= post.posted_on %>
        </p>
        <% if post.uploaded_image.attached? %>
          <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
        <% else %>
          <img src="<%= post.image %>" class="img-fluid">
        <% end %>
        <p><%= post.description %></p>
      </div>
    <% end %>
</div>

